<footer class="bg-white] border-gray-800 text-gray-400 font-poppins py-4 px-6">
  <div class="max-w-7xl mx-auto flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0">
 
    <span class="text-sm text-center md:text-left">
      © {{ currentYear }} <span class="text-[#ECA400] font-semibold">Reunion CFN</span>. All Rights Reserved.
    </span>

 
    <ul class="flex flex-wrap justify-center md:justify-end text-sm space-x-4">
      <li><a routerLink="/about" class="hover:text-[#ECA400] transition-colors">About</a></li>
      <li><a routerLink="/privacy" class="hover:text-[#ECA400] transition-colors">Privacy</a></li>
      <li><a routerLink="/sponsors" class="hover:text-[#ECA400] transition-colors">Sponsors</a></li>
      <li><a routerLink="/contact" class="hover:text-[#ECA400] transition-colors">Contact</a></li>
    </ul>
  </div>
</footer>
